VITE_API_BASE_URL=
VITE_API_URL=
VITE_GOOGLE_AUTH_URL=http://localhost:5000/api/auth/google?platform=orchardgrowers
VITE_FACEBOOK_AUTH_URL=http://localhost:5000/api/auth/facebook?platform=orchardgrowers
VITE_MSG91_ORCHARD_WIDGET_ID=
VITE_MSG91_ORCHARD_TOKEN_AUTH=
VITE_MSG91_EFRUITMANDI_WIDGET_ID=
VITE_MSG91_EFRUITMANDI_TOKEN_AUTH=
