VITE_API_BASE_URL=https://api.orchardgrowers.in
VITE_API_URL=https://api.orchardgrowers.in
VITE_APP_NAME=orchardgrowers
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_AUTH_URL=https://api.orchardgrowers.in/api/auth/orchard/google
VITE_FACEBOOK_APP_ID=
VITE_FACEBOOK_AUTH_URL=https://api.orchardgrowers.in/api/auth/orchard/facebook
VITE_MSG91_ORCHARD_WIDGET_ID=
VITE_MSG91_ORCHARD_TOKEN_AUTH=
