VITE_API_BASE_URL=https://api.efruitmandi.live
VITE_API_URL=https://api.efruitmandi.live
REACT_APP_API_URL=
VITE_APP_NAME=efruitmandi
REACT_APP_NAME=efruitmandi
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_AUTH_URL=https://api.efruitmandi.live/api/auth/efruitmandi/google
VITE_FACEBOOK_APP_ID=
VITE_FACEBOOK_AUTH_URL=https://api.efruitmandi.live/api/auth/efruitmandi/facebook
REACT_APP_GOOGLE_AUTH_URL=https://api.efruitmandi.live/api/auth/efruitmandi/google
REACT_APP_FACEBOOK_AUTH_URL=https://api.efruitmandi.live/api/auth/efruitmandi/facebook
VITE_SOCKET_URL=https://api.efruitmandi.live
REACT_APP_SOCKET_URL=https://api.efruitmandi.live
VITE_MSG91_EFRUITMANDI_WIDGET_ID=
VITE_MSG91_EFRUITMANDI_TOKEN_AUTH=
REACT_APP_MSG91_EFRUITMANDI_WIDGET_ID=
REACT_APP_MSG91_EFRUITMANDI_TOKEN_AUTH=
