VITE_API_BASE_URL=
VITE_API_URL=https://orchard-growers-backend.onrender.com
REACT_APP_API_URL=
VITE_APP_NAME=efruitmandi
REACT_APP_NAME=efruitmandi
VITE_GOOGLE_AUTH_URL=https://orchard-growers-backend.onrender.com/api/auth/google?app=efruitmandi
VITE_FACEBOOK_AUTH_URL=https://orchard-growers-backend.onrender.com/api/auth/facebook?app=efruitmandi
REACT_APP_GOOGLE_AUTH_URL=https://orchard-growers-backend.onrender.com/api/auth/google?app=efruitmandi
REACT_APP_FACEBOOK_AUTH_URL=https://orchard-growers-backend.onrender.com/api/auth/facebook?app=efruitmandi
VITE_MSG91_ORCHARD_WIDGET_ID=
VITE_MSG91_ORCHARD_TOKEN_AUTH=
VITE_MSG91_EFRUITMANDI_WIDGET_ID=
VITE_MSG91_EFRUITMANDI_TOKEN_AUTH=
